body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f4f7fa;
  color: #222;
}

header {
  background: #1e212d;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 0.95rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.6rem;
  text-align: center;
}

th {
  background: #0d6efd;
  color: white;
}

tr:hover {
  background: #f1f1f1;
}

.high-temp { background: #ffcccc; }
.high-pressure { background: #fff3cd; }
.low-flow { background: #cce5ff; }
.normal { background: #d4edda; }

.alert-high-temp { color: red; font-weight: bold; }
.alert-high-pressure { color: orange; font-weight: bold; }
.alert-low-flow { color: blue; font-weight: bold; }
.alert-normal { color: green; font-weight: bold; }

footer {
  margin-top: 2rem;
  background: #1e212d;
  color: white;
  text-align: center;
  padding: 1rem;
}


canvas {
  background: #111;
  border-radius: 8px;
  padding: 10px;
}
